<h1>Create a Tamagotchi!</h1>
<form action='/pet' method='post'>
  <div class='form-group'>
    <label>What would you like to name your new Tamagotchi?</label>
    <input type="text" name="name" id="name" class="form-control">
  </div>
  <button type="submit" id="create" class='btn btn-primary'>Create your Tamagotchi!</button>
</form>
